__pycache__/
results/
__init__.py
.venv

# Environment variables
.env
*.env
!.env.example

# ignore all md file except agents.md and README.md
*.md
!AGENTS.md
!README.md

#DB
*.db

#ignore all file start test_
test_*.py